
.logo {
    margin-top: 0px;
    margin-left: 0px;
}

button {
    margin-top: 15px;
    margin-bottom: 10px;
}

body {
    background-color: #f1f1f1;
}

h1,h2 {
    color: #222222;
  
    font-family: 'helvetica', sans-serif;
}